body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100%;
}

/* universal classes - applies to multiple elements */
.container {
  width: 1280px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #4f9cf9;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -2%;
  color: #ffffff;
}

.button:hover {
  text-decoration: none;
  color: #ffffff;
}

.button::after {
  content: url("../images/right-arrow.svg");
  margin-left: 10px;
}

.section {
  padding: 140px 0px;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.heading {
  position: relative;
  z-index: 1;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2%;
  color: #212529;
  margin-bottom: 24px;
}

.heading span {
  position: relative;
}

.heading span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url(../images/underline.svg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.description,
.comment {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -2%;
  color: #212529;
  margin-bottom: 60px;
}

.navbar-active {
  display: block !important;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

.tab-none {
  display: block;
}

.tab-block {
  display: none;
}

/* header styles start here */

header {
  background-color: #043873;
  padding: 29px 0px;
}

.logo {
  width: auto;
  height: auto;
}

header .right-col {
  gap: 32px;
}

.navbar {
  display: flex;
  list-style-type: none;
  gap: 32px;
  margin-bottom: 0;
}

.navbar li a {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: #ffffff;
  gap: 20px;
}

.navbar li a::after {
  content: url("../images/down-arrow.svg");
  position: relative;
  top: -2px;
}

header .cta {
  display: flex;
  align-items: center;
  gap: 24px;
}

header .login-btn {
  background-color: #ffe492;
  color: #043873;
  padding-left: 40px;
  padding-right: 40px;
}

header .login-btn::after {
  content: none;
}

.navbar-button {
  display: none;
}

/* hero section starts here */

.hero-section {
  background-image: url("../images/hero-section-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #043873;
}

.hero-section .col-left {
  width: 40%;
}

.hero-section .col-left h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2%;
  color: #ffffff;
  margin-bottom: 24px;
}

.hero-section .col-left p {
  color: #ffffff;
}

.hero-section .col-right {
  width: 60%;
}

/* project management section starts here */
.pm-section {
  background-image: url("../images/pm-section-bg.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
}

/* work together section starts here */

/* extension section starts here */
.ext-section {
  background-color: #043873;
}

.ext-section .heading {
  color: #ffffff;
}

.ext-section .description {
  color: #ffffff;
}

/* customize section starts here */

/* plan section starts here */
.plan-section .headline {
  text-align: center;
  max-width: 979px;
  margin: 0 auto;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.cards .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #ffe492;
  border-radius: 10px;
  padding: 40px 44px;
}

.cards .card .package {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
  color: #212529;
  margin-bottom: 0;
}

.cards .card .price {
  font-size: 36px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: -2%;
  color: #212529;
  margin: 0;
}

.cards .card .description {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  letter-spacing: -2%;
  color: #212529;
  margin: 0;
}

.cards .card .features {
  list-style-type: none;
  /* list-style-image: url("../images/circular-tick.svg"); */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.cards .card .features li {
  display: flex;
  align-items: flex-start;
  gap: 19px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -2%;
  font-weight: 400;
  color: #212529;
}

.cards .card .features li::before {
  content: url("../images/circular-tick.svg");
  position: relative;
  top: 2px;
}

.cards .card .cta {
  display: inline-block;
  border: 1px solid #ffe492;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 16px 40px;
  font-size: 16px;
  font-weight: 500;
  color: #212529;
  line-height: normal;
  letter-spacing: -2%;
}

.cards .highlight-card {
  background-color: #043873;
  border: none;
  padding-top: 80px;
  padding-bottom: 80px;
}

.cards .highlight-card .package {
  color: #ffffff;
}

.cards .highlight-card .price {
  color: #ffe492;
}

.cards .highlight-card .description,
.cards .highlight-card .features li {
  color: #ffffff;
}

.cards .highlight-card .features li::before {
  content: url("../images/circular-tick-highlight.svg");
}

.cards .highlight-card .cta {
  border: none;
  background-color: #4f9cf9;
  color: #ffffff;
}

/* task key section starts here */
.task-key-section {
  background-color: #043873;
  position: relative;
}

.task-key-section .bg-img {
  position: absolute;
  width: 428px;
  top: -159px;
  left: -50px;
}

.task-key-section .content {
  text-align: center;
  max-width: 1064px;
  margin: 0 auto;
}

.task-key-section .content .heading,
.task-key-section .content .description {
  color: #ffffff;
}

.task-key-section .content .heading span::after {
  background-image: url("../images/underline-blue.svg");
}

/* data section starts here */
.data-section .flex-box {
  gap: 0;
}

/* sponsors section starts here */
.sponsors-section h2 {
  text-align: center;
  margin-bottom: 100px;
}

.sponsors-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* favourite apps starts here */
.fav-apps-section {
  background-color: #043873;
  background-image: url("../images/hero-section-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.fav-apps-section .heading,
.fav-apps-section .description {
  color: #ffffff;
}

/* testimonial section starts here */
.testimonial-section h2 {
  text-align: center;
}

.testimonial {
  padding: 16px 0px;
}

.testimonial .slide {
  background-color: #ffffff;
  padding: 60px 40px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px 0px;
}

.testimonial .slick-track {
  display: flex;
  gap: 32px;
}

.testimonial .slide img {
  width: auto;
}

.testimonial .slide .comment {
  margin-top: 32px;
  margin-bottom: 0px;
}

.testimonial .slide hr {
  margin-top: 40px;
  margin-bottom: 0px;
  border-color: #212529;
}

.testimonial .slide .author {
  margin-top: 60px;
  display: flex;
  gap: 42px;
}

.testimonial .slide .author .author-name {
  font-size: 19px;
  line-height: 24px;
  font-weight: 600;
  color: #212529;
  letter-spacing: 0%;
  margin-bottom: 15px;
}

.testimonial .slide .author .designation {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #212529;
  margin-bottom: 0;
  letter-spacing: -2%;
}

.testimonial .slick-dots li {
  margin: 0px 6px;
}

.testimonial .slick-dots li button {
  background-color: #4f9cf9;
  border-radius: 10px;
}

.testimonial .slick-dots li button:hover,
.testimonial .slick-dots li.slick-active button {
  background-color: #043873;
}

/* try whitespace section starts here */
.try-whitespace-section {
  background-color: #043873;
}

.try-whitespace-section .col {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.try-whitespace-section .heading {
  color: #ffffff;
  margin-bottom: 24px;
}

.try-whitespace-section .description {
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
}

.try-whitespace-section .button {
  display: inline-block;
  margin-bottom: 40px;
}

.try-whitespace-section .app-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* footer starts here */
footer {
  background-color: #043873;
  padding: 140px 0px 32px;
}

footer .upper-footer {
  padding-bottom: 65px;
  border-bottom: 1px solid #2e4e73;
}

footer .upper-footer .flex-box {
  align-items: flex-start;
}

footer .upper-footer .col {
  width: 20%;
}

footer .upper-footer .col .description {
  color: #ffffff;
  margin: 15px 0px 0px;
}

footer .upper-footer .footer-nav p {
  font-size: 18px;
  line-height: normal;
  letter-spacing: -2%;
  font-weight: 700;
  color: #ffffff;
}

footer .upper-footer .footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer .upper-footer .footer-nav ul li a {
  color: #ffffff;
}

footer .upper-footer .footer-nav ul li a:hover {
  color: #ffe492;
  text-decoration: none;
}

footer .upper-footer .col h5 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -2%;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 23px;
}

footer .upper-footer .col p {
  color: #ffffff;
  margin-bottom: 23px;
}

footer .lower-footer {
  margin-top: 32px;
}

footer .lower-footer .col ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 60px;
}

footer .lower-footer .col ul li,
footer .lower-footer .col ul li a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: -2%;
}

footer .lower-footer .col:last-child ul {
  gap: 32px;
}

/* tablet styles start here */

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0px 32px;
    overflow: hidden;
  }

  .tab-none {
    display: none;
  }

  .tab-block {
    display: block;
  }

  .section {
    padding: 100px 0px;
  }

  .hero-section .flex-box,
  .pm-section .flex-box,
  .wt-section .flex-box,
  .ext-section .flex-box,
  .custom-section .flex-box {
    flex-direction: column;
  }

  .col-50 {
    width: 100%;
  }

  .hero-section,
  .pm-section,
  .wt-section,
  .ext-section,
  .custom-section {
    text-align: center;
  }

  .heading {
    font-size: 54px;
  }

  /* header starts here  */
  header {
    padding: 16px 0px;
  }

  .navigation {
    display: none;
  }

  .navigation.navbar-active {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #2e4e73;
    height: 100%;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    padding: 32px;
  }

  header .cta {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 32px 0px;
  }

  header .cta .button {
    width: 250px;
    text-align: center;
  }

  .navbar-button {
    display: block;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
  }

  /* hero section starts here */

  .hero-section .col-left,
  .hero-section .col-right {
    width: 100%;
  }

  .hero-section .col-left h2 {
    font-size: 54px;
    text-align: center;
  }

  /* pm section starts here */
  .pm-section {
    background-position-y: top;
    background-position-x: -30%;
  }

  /* plan section starts here */
  .cards .highlight-card {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .cards.slick-dotted.slick-slider {
    margin-bottom: 60px;
  }

  .cards .slick-dots {
    bottom: -60px;
  }

  .cards .slick-dots li {
    margin: 0px 6px;
  }

  .cards .slick-dots li button {
    background-color: #4f9cf9;
    border-radius: 10px;
  }

  .cards .slick-dots li button:hover,
  .cards .slick-dots li.slick-active button {
    background-color: #043873;
  }
}
